
        h1 {
            color: rgb(214, 204, 62)
        }
        h2 {
            color: white 
        }
        h3 {
            color: white 
        }
        p{
            color: white
        }
        button {
            
            
            border-radius: 25px;
            border: 2px solid #c7be47;
            background: black;
            padding: 20px;
            width: 120px;
            height: 70px;
            color: white 
        }
     body {
         
         font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
         background-image: url('corgi.jpeg');
         background-attachment: fixed;
         background-size: 100% 100%;
         } 

     